/* style sheet file */
td {
    background-color: beige;
    padding: 5px;
}
th {
    background-color: brown;
    color: white;
    padding: 5px;
    width: 200px;
}
input{
    height: 40px;
    width: 300px;
}

button{
    height: 40px;
    width: 100px;
    background-color: brown;
    color: white;

}
