.flex-container {
    display: flex;
    width: 100%;
    line-height:30px;
    justify-content: center;
    margin-top: 15%;
}
.next-flex-container {
    display: flex;
    width: 100%;
    line-height:30px;
    justify-content: center;
}
.flex-element{
    margin: 5px;
    height:70px;
    width:70px
}
#id1 {
    background-color: darkseagreen;
}
#id2{
    background-color: green;
}
#id3 {
    background-color: darkgreen;
}
#id4{
    background-color: deepskyblue;
}
#id5{
    background-color: blue;
}
#id6 {
    background-color: darkblue;
}
#id7{
    background-color: palevioletred;
}
#id8{
    background-color: indianred;
}
#id9{
    background-color: darkred;
}