<div class="parent-container">
  <div class="child-container">

    <div class="box">
      <h2>Hello, Welcome...!!!</h2>
      <span class="desc">This is a Mashup Web Application built using <i> Foursquare & Edamam's Recipe Search API </i> . This application finds the Recipe and Place to find that Food.</span><br><br><br>
    </div>
      <form>
      <div class="form-group"><br><br>
        <label style="color:maroon; font-size: 20px;"><b>Subscribe to our news letter:</b></label><br><br>
        <div class="form-group col-lg-4 col-lg-offset-4">
          <input type="text" style="height:30px;" class="form-control" placeholder="Enter your email here...!!"/>
        </div>
        <br>
        <button type ="submit" id="subscribe"class="btn btn-primary col-lg-2 col-lg-offset-5">Subscribe</button>
      </div>
    </form>
  </div>
</div>